@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply rounded-full py-2 px-3 cursor-pointer border-white border
}

.fade-in {
  transition: opacity 1s ease;
}

.fade-out {
  opacity: 0;
  transition: opacity 1s ease;
}
