@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');


* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

.anchor {
  padding-top: 70px;
  margin-top: -70px;
}

#tsparticles { /* Consider putting this in component as TailwindCSS */
  height: 100;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
}

@layer components {
  .line {
    @apply h-0.5 w-[37%] bg-[#2f3957] mx-4 rounded-3xl
  }

  .btn {
    @apply rounded-full py-2 px-3 cursor-pointer border-white border
  }
}
